$background-default: #151622;
$background-light: #292C3D;
$background-lighter: #1D2030;
$text-default: #8880A0;
$text-header: #E2E3E9;
$text-smolheader: #747AAC;
$text-code: #E54A97;
$background-header: #1F2234;
$btn-primary: #374FC3;
$btn-primary-hover: #677AD3;
$btn-primary-foreground: #ffffff;
$btn-secondary: #4C5280;
$btn-secondary-hover: #4C5280;
$btn-secondary-foreground: #1D2030;
$btn-secondary-foreground-hover: #fff;